<!DOCTYPE html>
<html>
	<head>
		<title>BRRS</title>
		<meta charset="utf-8">
		<link rel="icon" href="images/icon.png">
		<link rel="stylesheet" href="./styles/1-index.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>Reviews</header>
		<a href="./2-index.html">Recommendations</a>
		<ul>
			<li>
				<div class="text-container">
					<span>text: very good</span>
					<span>Rating: 9  </span>
					<span>username: xolo  </span>
				</div>
				<i class="fa fa-ellipsis-v icon"></i>
			</li>
			<li>
				<div class="text-container">
					<span>text: very intuitive</span>
					<span>Rating: 7</span>
					<span>username: solo  </span>
				</div>
				<i class="fa fa-ellipsis-v icon"></i>
			</li>
			<li>
				<div class="text-container">
					<span>text: very intuitive</span>
					<span>Rating: 7</span>
					<span>username: solo  </span>
				</div>
				<i class="fa fa-ellipsis-v icon"></i>
			</li>
			<li>
				<div class="text-container">
					<span>text: very intuitive</span>
					<span>Rating: 7</span>
					<span>username: solo  </span>
				</div>
				<i class="fa fa-ellipsis-v icon"></i>
			</li>
		</ul>
		<footer>
			<p>BRRS</p>
		</footer>
	</body>
</html>
